# Imports

In [2]:
import pandas as pd
import numpy as np
import datetime

# Config

In [3]:
np.random.seed(1)

# Known data

In [1]:
df_tickets = pd.DataFrame(columns=["id", "date", "time", "from_city", "to_city", "travel_time", "seat_type", "seat_num", "cost"])

df_tickets["id"] = [x for x in range(1, 101)]
df_tickets["date"] = ["2021-11-13" for x in range(1, 101)]
df_tickets["time"] = ["11:00" for x in range(1, 101)]
df_tickets["from_city"] = ["Rivne" for x in range(1, 101)]
df_tickets["to_city"] = ["Kyiv" for x in range(1, 101)]
df_tickets["travel_time"] = [5 for x in range(1, 101)]
df_tickets["seat_type"] = [3 for x in range(1, 101)]
df_tickets["seat_num"] = [x for x in range(1, 101)]
df_tickets["cost"] = [300 for x in range(1, 101)]



df_tickets

NameError: name 'pd' is not defined

In [4]:
conn = pyodbc.connect("Driver={SQL Server};"
                      "Server=DESKTOP-L5ATCHA;"
                      "Database=TrainTicketsP1;"
                      "Trusted_Connection=yes;")

In [5]:
cursor = conn.cursor()

In [6]:
for row in df_tickets.itertuples():
    cursor.execute(
        '''
        insert into Tickets([Type], [SeatNum], [Status], [Price], [CityFrom], [CityTo], [TravelTime], [CityFromTime], [CityFromDate])
        values(?,?,?,?,?,?,?,?,?)
        ''',
        row.type, row.seatnum, 0, row.price, row.cityfrom, row.cityto, row.traveltime, row.cityfromtime, row.cityfromdate
    )

In [7]:
conn.commit()
cursor.close()
conn.close()