# Imports

In [3]:
import pandas as pd
import numpy as np
import datetime

# Config

In [4]:
np.random.seed(1)

# Known data

In [8]:
dates = np.array(["2021-11-11", "2021-11-12", "2021-11-13"])

times = np.array(["00:00", "07:00", "12:00", "18:00", "20:00"])

cities = np.array(["Lviv", "Rivne", "Kyiv", "Kharkiv", "Odessa"])

# (type 1, type 2, type3) per train
type_count = np.array([50, 50, 50])

In [10]:
df_trips = pd.DataFrame(columns=
[
    "id",
    "date",
    "time",
    "from_city",
    "to_city",
    "travel_time",
    "seat_type_1_price",
    "seat_type_2_price",
    "seat_type_3_price"
    ])
df_trips["id"] = [x for x in range(1, 26)]
df_trips["date"] = dates[np.random.randint(0, dates.shape[0], 25)]
df_trips["time"] = times[np.random.randint(0, times.shape[0], 25)]
df_trips["from_city"] = cities[np.random.randint(0, cities.shape[0], 25)]
df_trips["to_city"] = cities[np.random.randint(0, cities.shape[0], 25)]

df_trips["travel_time"] = np.random.randint(3, 10, 25)

df_trips["seat_type_1_price"] = np.round(np.random.normal(100, 20, 25), 2)
df_trips["seat_type_2_price"] = np.round(np.random.normal(100, 20, 25), 2)
df_trips["seat_type_3_price"] = np.round(np.random.normal(100, 20, 25), 2)
df_trips

,id,date,time,from_city,to_city,travel_time,seat_type_1_price,seat_type_2_price,seat_type_3_price
0,1,2021-11-11,12:00,Rivne,Odessa,6,124.37,114.45,131.81
1,2,2021-11-13,00:00,Kharkiv,Kyiv,8,83.23,90.61,93.75
2,3,2021-11-11,12:00,Kharkiv,Odessa,4,99.14,93.66,99.96
3,4,2021-11-11,18:00,Lviv,Rivne,3,77.45,96.23,65.59
4,5,2021-11-13,12:00,Rivne,Kharkiv,4,94.96,114.81,95.71
5,6,2021-11-13,12:00,Odessa,Rivne,6,138.83,43.49,108.21
6,7,2021-11-11,18:00,Odessa,Odessa,3,113.45,98.55,137.53
7,8,2021-11-12,20:00,Lviv,Lviv,7,97.11,85.49,107.35
8,9,2021-11-12,18:00,Lviv,Kyiv,9,107.97,101.82,127.95
9,10,2021-11-11,20:00,Kharkiv,Kyiv,6,121.43,62.88,117.03
10,11,2021-11-13,20:00,Kyiv,Kharkiv,7,100.48,109.06,110.08
11,12,2021-11-13,20:00,Odessa,Odessa,6,115.12,98.17,112.62
12,13,2021-11-12,12:00,Kyiv,Lviv,9,74.60,74.03,100.82
13,14,2021-11-13,12:00,Lviv,Odessa,3,91.02,102.13,121.93
14,15,2021-11-13,00:00,Kharkiv,Odessa,3,79.57,71.63,83.59
15,16,2021-11-11,07:00,Kharkiv,Odessa,3,125.83,73.86,83.45
16,17,2021-11-12,20:00,Rivne,Odessa,8,113.08,109.94,100.72
17,18,2021-11-12,18:00,Kyiv,Kyiv,7,96.09,97.88,118.41
18,19,2021-11-12,20:00,Lviv,Kharkiv,3,126.51,113.90,70.57
19,20,2021-11-13,12:00,Kyiv,Kyiv,3,83.90,97.05,88.09
20,21,2021-11-12,12:00,Odessa,Odessa,6,110.06,109.89,104.10
21,22,2021-11-12,07:00,Rivne,Odessa,6,119.06,120.25,87.91
22,23,2021-11-11,20:00,Kyiv,Kharkiv,5,106.02,100.73,97.18
23,24,2021-11-12,20:00,Odessa,Lviv,9,96.36,65.79,72.90
24,25,2021-11-13,20:00,Lviv,Kyiv,4,119.76,119.65,101.00

In [12]:
df_tickets = pd.DataFrame(columns=["trip_id", "seat_type", "seat_num"])

for trip_i, trip_row in df_trips.iterrows():
    
    df_trip_tickets = pd.DataFrame(columns=["trip_id", "seat_type", "seat_num"])

    df_trip_tickets["trip_id"] = [trip_i for x in range(type_count.sum())]
    df_trip_tickets["seat_type"] = [1 for x in range(type_count[0])] + [2 for x in range(type_count[1])] + [3 for x in range(type_count[2])]
    df_trip_tickets["seat_num"] = list(range(type_count[0])) + list(range(type_count[1])) + list(range(type_count[2]))

    df_tickets = df_tickets.append(df_trip_tickets, ignore_index=True)

df_tickets

     trip_id seat_type seat_num
0          0         1        0
1          0         1        1
2          0         1        2
3          0         1        3
4          0         1        4
...      ...       ...      ...
3745      24         3       45
3746      24         3       46
3747      24         3       47
3748      24         3       48
3749      24         3       49

[3750 rows x 3 columns]

## Save

In [13]:
df_trips.to_csv("trips.csv")

In [14]:
df_tickets.to_csv("tickets.csv")